<a href="https://colab.research.google.com/github/y-Shreya21/Learn-Bharat/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
data = {
    'Name' : ['John', 'Jane', 'Bob', 'Alice'],
    'Age' : [25, 30, 35, 40],
    'City' : ['New York', 'Paris', 'London', 'Sydney']
}
df = pd.DataFrame(data)
print(df)
print(df['Name'])
df['salary'] = [5000,6000,7000,8000]

print(df)
filter_data = df[df['Age'] > 25]
print(filter_data)
filter_data2 = df[df['Age'] <=25]
print(filter_data2)

    Name  Age      City
0   John   25  New York
1   Jane   30     Paris
2    Bob   35    London
3  Alice   40    Sydney
0     John
1     Jane
2      Bob
3    Alice
Name: Name, dtype: object
    Name  Age      City  salary
0   John   25  New York    5000
1   Jane   30     Paris    6000
2    Bob   35    London    7000
3  Alice   40    Sydney    8000
    Name  Age    City  salary
1   Jane   30   Paris    6000
2    Bob   35  London    7000
3  Alice   40  Sydney    8000
   Name  Age      City  salary
0  John   25  New York    5000

In [15]:
""" data frame working in the organistaion contains
 employee name , employe id , designation and slaary .
 data of atlesast 8 employe modify the data frame by adding onr more colum city .
 display the records where slaary is greater than the 60K """
import pandas as pd
data = {
    'Employee name' : ['RAVI DUBEY', 'SHALINI AWASTHI', 'SHIVANGI AGNIHOTRI ', 'SHRIKANT AGARWAL','SHIVA ','PAYAL','SHREYA ' ,'SHIV'],
    'E_ID' :[201, 202, 203, 204,205,206,207,208],
    'Designation' :['Manager DIRECTOR','HR ',' TECHNICAL HEAD','PRODUCTION MANGER ','ASSOCIATE MANGER ','PA','SECRATERY','PROJECT MANAGER '],
    'Salary':[900000,55000,60000,74000,80000,85000,65000,69000]}
df= pd.DataFrame(data)
print(df)
filter_data = df[df['Salary'] > 60000]
print(filter_data)

         Employee name  E_ID         Designation  Salary
0           RAVI DUBEY   201    Manager DIRECTOR  900000
1      SHALINI AWASTHI   202                 HR    55000
2  SHIVANGI AGNIHOTRI    203      TECHNICAL HEAD   60000
3     SHRIKANT AGARWAL   204  PRODUCTION MANGER    74000
4               SHIVA    205   ASSOCIATE MANGER    80000
5                PAYAL   206                  PA   85000
6              SHREYA    207           SECRATERY   65000
7                 SHIV   208    PROJECT MANAGER    69000
      Employee name  E_ID         Designation  Salary
0        RAVI DUBEY   201    Manager DIRECTOR  900000
3  SHRIKANT AGARWAL   204  PRODUCTION MANGER    74000
4            SHIVA    205   ASSOCIATE MANGER    80000
5             PAYAL   206                  PA   85000
6           SHREYA    207           SECRATERY   65000
7              SHIV   208    PROJECT MANAGER    69000

In [16]:
import pandas as pd
data = {'Department': ['HR', 'IT', 'Finance', 'Marketing'],
        'Employees': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 70000, 80000]}
df = pd.DataFrame(data)
grouped_df = df.groupby('Department')['Salary'].mean()
print(grouped_df)

Department
Finance      70000.0
HR           50000.0
IT           60000.0
Marketing    80000.0
Name: Salary, dtype: float64

In [20]:
import pandas as pd
import numpy as np
data = {'name': ['Alice', 'bob','charlie', 'david'],
        'Age': [25, np.nan, 35, 24]}
df = pd.DataFrame(data)
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

      name   Age
0    Alice  25.0
1      bob  28.0
2  charlie  35.0
3    david  24.0

<ipython-input-20-179cddbb654b>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [29]:
import pandas as pd
df = pd.read_csv('/content/customers-100.csv')
print(df)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]

In [30]:
import pandas as pd
df = pd.read_csv('/content/sample_data')
print(df)

IsADirectoryError: [Errno 21] Is a directory: '/content/sample_data'

In [28]:
s1 = pd.Series([10,20,30] , index = ['A','B','C']) # Changed 'Index' to 'index'
s2 = pd.Series([6,7,8], index = ['B','C','D'])
result = s1+s2
print(result)

A     NaN
B    26.0
C    37.0
D     NaN
dtype: float64